/* Select all buttons and set the background colour to red and the text colour to white. */
.button {
    -fx-background-color: #121212;
    -fx-text-fill: white;
    -fx-border-color: white;
    -fx-border-radius: 5;
}

/* Set the colour of the button when the mouse hovers over it */
.button:hover {
    -fx-background-color: #2e2e2e;
}

/* Set the colour of the node with fx:id="confirmBtn" */
#confirmBtn {
    -fx-background-color: #23ad56;
}

.text-field {
    -fx-background-color: #121212;
    -fx-text-fill: white;
    -fx-border-color: white;
    -fx-border-radius: 5;
}

.label {
    -fx-text-fill: white;
}

/* Set the root's colour to light blue */
.root {
    -fx-background-color: #121212;
}
